# Eclipse
.classpath
.project
.metadata
.checkstyle
.settings/
.springBeans
.checkstyle
*/bin/

# Intellij
.idea/
*.iml
*.iws
atlassian-ide-plugin.xml
out/

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
.gradle/
build/

# Java
*.class
*.jar
*.war
*.ear
*.tgz
*.tar
*.tar.gz
*.db
/build
/logs
/build/
classes/

# TestNG
*/test-output/


# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .idea
.idea

# VS Code
.vscode
.nodejs
.npm
.yarn
node_modules
server/src/main/resources/static/
