@media screen and (max-width: 540px) {
    .container {
      max-width: 510px;
    }

    .news-container {
        background: url('../img/sm/bg.png') no-repeat;
        height: 2407px;
    }  

    .news-item.upper {
        height: 1027px;
        padding-top: 80px;
    }
    
    .news-item.mid {
        margin-top: 70px;
        height: 555px;
    }

    .news-item.low {
        margin-top: 70px;
        height: 754px;
    }
    
    .news-item .upper-right picture {
        bottom: 0px;
        left: 70px;
    }
    
    .news-item .upper-left picture {
        top: 25px;
        left: 0px;
    }

    .news-item .mid-left picture {
        left: 0px;
    }
    
    .news-item .mid-right .text-block {
        left: 96px;
    }
    
    .news-item .low-left {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

    .news-item .low-left .text-block {
        margin-top: 0px;
        text-align: center;
    }
    
    .news-item .low-left .text-block h2 {
        margin-bottom: 13px;
    }

    .news-item .low-left .text-block p {
        margin-bottom: 5px;
        display: inline-block;
    }

    .news-item .low-right picture {
        right: 63px;
        bottom: 138px;
    }

    /* --------------------------------------------*/
    /* TEXT BLOCK */
    .text-block h2 {
        line-height: 24px;
        font-size: 24px;
        white-space: nowrap;
        margin-bottom: 7px;
    }

    .text-block p {
        display: inline;
        font-size: 16px;
    }

    .text-block p:first-of-type {
        margin-bottom: 0px;
        margin-right: 9px;
    }

    .text-block span {
        font-size: 14px;
        margin: 9px 0 15px 0;
    }
      
    /* Footer */
    .page-footer {
        font-size: 14px;
        height: 50px;
        padding: 0;
    }
    
    .footer-credits picture {
        margin-right: 8px;
    }

    .footer-credits span {
        line-height: 30px;
    }
    
    .footer-contacts {
        height: 30px;
    }
    
    .footer-contacts span {
        margin-right: 10px;
        line-height: 30px;
    }
    
    .footer-contacts a:last-child {
        margin-left: 10px;
    }
}